
/*==============================RESPONSIVE===========================================*/

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.contenedor {
    margin: 40px 40px 40px 40px;
}

header {

    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90vw;
    margin: 1%;


}

.imagenes {
    width: 95vw;
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
;
}


figure {
    
    margin-top: 0;
    width: 100%;
            
    }

    img {

        width: 100%;

    }

h2 {
    background-color: rgb(56, 116, 194);
    position: static;
    margin: 0;
    width: 100%;
    height: 4vh;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    
}

figcaption{
    
    box-sizing: border-box;
    position: static;
    width: 100%;
    height: 4vh;
    font-size: 1rem;
    font-weight: normal;
    
}



/*======================================= NO RESPONSIVE =============================================================
* {
   
   
}
.contenedor {
    padding: 20px;
}

.viaje1, .viaje2, .viaje3, .viaje4, .viaje5, .viaje6

{

display: inline-block;
padding: 0;
margin-bottom: 20px;

}

figure {
    
    margin-top: 0;
    width: 400px;
            
    }

h2 {
    background-color: rgb(56, 116, 194);
    margin: 0;
    width: auto;
    height: 25px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    
}


figcaption{
    
    box-sizing: border-box;
    position: static;
    
}

*/



